services:
  db:
    image: postgres:15
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"